.text-stroke {
  color: white;
 /* -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: blue; */
}
.fit-picture {
  width: 90px;
  height: 90px;
}
.box-1 {
  width: 200px;
  height: 200px;
  background: #4988C4;
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  color: #0F2854;
}
.box-1:nth-child(even) {
    background-color: #BDE8F5;
}
.box-1:hover{
  width: 200px;
  height: 200px;
  font-size: 30px;
  border: 2px solid white;
  transition: 200ms;
}
