.text-stroke {
  color: white; /* The fill color of the text */
  -webkit-text-stroke-width: 1px; /* The thickness of the outline */
  -webkit-text-stroke-color: blue; /* The color of the outline */
}
.fit-picture {
  width: 90px;
  height: 90px;
}
.box-1 {
  width: 250px;
  height: 250px;
  background: #eeeeee;
}
.box-1:nth-child(even) {
    background-color: cyan;
}

/*ul {
  width: 80vw;
  height: 300px;
  display: flex;
  gap: 2vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
li {
  list-style-type: none;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  padding: 20px;
  flex: 0 0 100%;
  scroll-snap-align: center;
}

li:nth-child(even) {
  background-color: cyan;
}*/
